/*******WIDGET********/

QWidget
{
    color: #b1b1b1;
    background-color:#323232;
}
QWidget#week_widget
{
    background-color: #4c4c4c;
}

QWidget:item:hover
{
    background-color: QLinearGradient( x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #b3b3b3, stop: 1 #686767);
    color: #000000;
}
QWidget:item:selected
{
    background-color: QLinearGradient( x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #ffa02f, stop: 1 #d7801a);
}
QWidget:disabled
{
    color: #404040;
    background-color: #323232;
}
/*QWidget:focus*/
/*{*/
/*    border: 1px solid  rgb(80,80,80);*/
/*}*/

/**************MAINWINDOW*************/

QMainWindow::separator
{
    background-color: QLinearGradient(x1:0, y1:0, x2:0, y2:1, stop:0 #161616, stop: 0.5 #151515, stop: 0.6 #212121, stop:1 #343434);
    color: white;
    padding-left: 4px;
    border: 1px solid #4c4c4c;
    spacing: 2px;
}

QMainWindow::separator:hover
{

    background-color: QLinearGradient(x1:0, y1:0, x2:0, y2:1, stop:0 #d7801a, stop:0.5 #b56c17 stop:1 #ffa02f);
    color: white;
    padding-left: 4px;
    border: 1px solid #6c6c6c;
    spacing: 3px;
}


/**************Tooltip**************/

QToolTip
{
    border: 1px solid black;
    background-color: #ffa02f;
    padding: 1px;
    border-radius: 3px;
    opacity: 100;
}

/*****************MENUBAR*************/

QMenuBar::item
{
    background: transparent;
}

QMenuBar::item:selected
{
    background: transparent;
    border: 1px solid #ffaa00;
}

QMenuBar::item:pressed
{
    background: #444;
    border: 1px solid #000;
    background-color: QLinearGradient(
    x1:0, y1:0,
    x2:0, y2:1,
    stop:1 #212121,
    stop:0.4 #343434
);
    margin-bottom:-1px;
    padding-bottom:1px;
}

/*********************MENU************/

QMenu
{
    border: 1px solid #000;
}

QMenu::item
{
    padding: 2px 20px 2px 20px;
}

QMenu::item:selected
{
    color: #000000;
}

QMenu::separator
{
    height: 2px;
    background-color: QLinearGradient(x1:0, y1:0, x2:0, y2:1, stop:0 #161616, stop: 0.5 #151515, stop: 0.6 #212121, stop:1 #343434);
    color: white;
    padding-left: 4px;
    margin-left: 20px;
    margin-right: 5px;
}

/***************ITEM**************/

QAbstractItemView
{
    background-color: QLinearGradient( x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #4d4d4d, stop: 0.1 #646464, stop: 1 #5d5d5d);
}
/*
QLabel{
    background-color: transparent;
}
*/
/***************LINEEDIT************/

QLineEdit
{
    background-color: QLinearGradient( x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #4d4d4d, stop: 0 #646464, stop: 1 #5d5d5d);
    padding: 1px;
    border-style: solid;
    border: 1px solid #1e1e1e;
    border-radius: 2;
}

/***************PUSHBUTTON***********/

QPushButton
{
    color: #b1b1b1;
    background-color: QLinearGradient( x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #565656, stop: 0.1 #525252, stop: 0.5 #4e4e4e, stop: 0.9 #4a4a4a, stop: 1 #464646);
    border-width: 1px;
    border-color: #1e1e1e;
    border-style: solid;
    border-radius: 2;
    padding: 3px;
    font-size: 12px;
    padding-left: 1px;
    padding-right: 1px;
}

QPushButton:pressed
{
    background-color: QLinearGradient( x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #2d2d2d, stop: 0.1 #2b2b2b, stop: 0.5 #292929, stop: 0.9 #282828, stop: 1 #252525);
}

/*************COMBOBOX***************/

QComboBox
{
    selection-background-color: #ffaa00;
    background-color: QLinearGradient( x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #565656, stop: 0.1 #525252, stop: 0.5 #4e4e4e, stop: 0.9 #4a4a4a, stop: 1 #464646);
    border-style: solid;
    border: 1px solid #1e1e1e;
    border-radius: 2;
}

QComboBox:hover,QPushButton:hover
{
    border: 1px solid QLinearGradient( x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #ffa02f, stop: 1 #d7801a);
}


QComboBox:on
{
    padding-top: 3px;
    padding-left: 4px;
    background-color: QLinearGradient( x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #2d2d2d, stop: 0.1 #2b2b2b, stop: 0.5 #292929, stop: 0.9 #282828, stop: 1 #252525);
    selection-background-color: #ffaa00;
}

QComboBox QAbstractItemView
{
    border: 2px solid darkgray;
    selection-background-color: QLinearGradient( x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #ffa02f, stop: 1 #d7801a);
}

QComboBox::drop-down
{
    subcontrol-origin: padding;
    subcontrol-position: top right;
    width: 15px;

    border-left-width: 0px;
    border-left-color: darkgray;
    border-left-style: solid;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

QComboBox::down-arrow
{

    width:0px;
    width:0px;
    height:3px;
    border-left:5px solid transparent;
    border-right:5px solid transparent;
    border-top:4px solid #2f2f2f;
    font-size:10px;
    line-height:0px;
}


QGroupBox:focus
{
    border: 1px solid QLinearGradient( x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #ffa02f, stop: 1 #d7801a);
}

/**********************GROUPBOX**********/

QGroupBox
{
    border: 1px solid gray;
    border-radius: 4px;
    padding:7 -4px;
}
QGroupBox::title {
    subcontrol-position: top center;
    padding: 0 7px;
}

/******************TEXTEDIT****************/

QTextEdit
{
    background-color: #242424;
    border: 1px solid gray;
}

QTextEdit:focus
{
    border: 1px solid QLinearGradient( x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #ffa02f, stop: 1 #d7801a);
}

QPlainTextEdit
{
    background-color: #242424;
}

/***********SCROLLBAR***************/

QScrollBar:horizontal {
    border: 1px solid #222222;
    background: QLinearGradient( x1: 0, y1: 0, x2: 0, y2: 1, stop: 0.0 #121212, stop: 0.2 #282828, stop: 1 #484848);
    height: 15px;
    margin: 0px 16px 0 16px;
}

QScrollBar::handle:horizontal
{
    background: QLinearGradient( x1: 0, y1: 0, x2: 1, y2: 0, stop: 0 #ffa02f, stop: 0.5 #d7801a, stop: 1 #ffa02f);
    min-height: 20px;
    border-radius: 2px;
}

QScrollBar::add-line:horizontal {
    border: 1px solid #1b1b19;
    border-radius: 2px;
    background: QLinearGradient( x1: 0, y1: 0, x2: 1, y2: 0, stop: 0 #ffa02f, stop: 1 #d7801a);
    width: 14px;
    subcontrol-position: right;
    subcontrol-origin: margin;
}

QScrollBar::sub-line:horizontal {
    border: 1px solid #1b1b19;
    border-radius: 2px;
    background: QLinearGradient( x1: 0, y1: 0, x2: 1, y2: 0, stop: 0 #ffa02f, stop: 1 #d7801a);
    width: 14px;
    subcontrol-position: left;
    subcontrol-origin: margin;
}

QScrollBar::right-arrow:horizontal, QScrollBar::left-arrow:horizontal
{
    border: 1px solid black;
    width: 1px;
    height: 1px;
    background: white;
}

QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal
{
    background: none;
}

QScrollBar:vertical
{
    background: QLinearGradient( x1: 0, y1: 0, x2: 1, y2: 0, stop: 0.0 #121212, stop: 0.2 #282828, stop: 1 #484848);
    width: 15px;
    margin: 16px 0 16px 0;
    border: 1px solid #222222;
}

QScrollBar::handle:vertical
{
    background: QLinearGradient( x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #ffa02f, stop: 0.5 #d7801a, stop: 1 #ffa02f);
    min-height: 20px;
    border-radius: 2px;
}

QScrollBar::add-line:vertical
{
    border: 1px solid #1b1b19;
    border-radius: 2px;
    background: QLinearGradient( x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #ffa02f, stop: 1 #d7801a);
    height: 14px;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
}

QScrollBar::sub-line:vertical
{
    border: 1px solid #1b1b19;
    border-radius: 2px;
    background: QLinearGradient( x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #d7801a, stop: 1 #ffa02f);
    height: 15px;
    subcontrol-position: top;
    subcontrol-origin: margin;
}

QScrollBar::up-arrow:vertical, QScrollBar::down-arrow:vertical
{
    border: 1px solid black;
    width: 5px;
    height: 1px;
    background: white;
}


QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical
{
    background: none;
}

/***************HEADER*************/

QHeaderView::section
{
    background-color: QLinearGradient(x1:0, y1:0, x2:0, y2:1, stop:0 #616161, stop: 0.5 #505050, stop: 0.6 #434343, stop:1 #656565);
    color: white;
    padding-left: 4px;
    border: 1px solid #6c6c6c;
}

/****************DOCKWIDGET***********/

QDockWidget::title
{
    text-align: center;
    spacing: 3px; /* spacing between items in the tool bar */
    background-color: QLinearGradient(x1:0, y1:0, x2:0, y2:1, stop:0 #323232, stop: 0.5 #242424, stop:1 #323232);
}

QDockWidget::close-button, QDockWidget::float-button
{
    text-align: center;
    spacing: 1px; /* spacing between items in the tool bar */
    background-color: QLinearGradient(x1:0, y1:0, x2:0, y2:1, stop:0 #323232, stop: 0.5 #242424, stop:1 #323232);
}

QDockWidget::close-button:hover, QDockWidget::float-button:hover
{
    background: #242424;
}

QDockWidget::close-button:pressed, QDockWidget::float-button:pressed
{
    padding: 1px -1px -1px 1px;
}

/***************TOOLBAR*************/

QToolBar::handle
{
    spacing: 3px;
    /* background: url(:/images/handle.png);*/
}

/***************PROGRESSBAR***********/

QProgressBar
{
    border: 2px solid grey;
    border-radius: 3px;
    text-align: center;
}

QProgressBar::chunk
{
    background-color: #d7801a;
    width: 2.15px;
    margin: 0.5px;
}

/*************TABBAR**********/

QTabBar::tab {
    color: #b1b1b1;
    border: 1px solid #444;
    border-bottom-style: none;
    background-color: #323232;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 3px;
    padding-bottom: 2px;
    margin-right: -1px;
}

QTabWidget::pane {
    border: 1px solid #444;
    top: 1px;
}

QTabBar::tab:last
{
    margin-right: 0;
    border-top-right-radius: 3px;
}

QTabBar::tab:first:!selected
{
    margin-left: 0px;
    border-top-left-radius: 3px;
}

QTabBar::tab:!selected
{
    color: #b1b1b1;
    border-bottom-style: solid;
    margin-top: 3px;
    background-color: QLinearGradient(x1:0, y1:0, x2:0, y2:1, stop:1 #212121, stop:.4 #343434);
}

QTabBar::tab:selected
{
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    margin-bottom: 0px;
}

QTabBar::tab:!selected:hover
{
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: QLinearGradient(x1:0, y1:0, x2:0, y2:1, stop:1 #212121, stop:0.4 #343434, stop:0.2 #343434, stop:0.1 #ffaa00);
}

/**************RADIOBUTTON*************/

QRadioButton::indicator:checked, QRadioButton::indicator:unchecked{
    color: #b1b1b1;
    background-color: #323232;
    border: 1px solid #b1b1b1;
    border-radius: 4px;
}

QRadioButton::indicator:checked
{
    background-color: qradialgradient(
    cx: 0.5, cy: 0.5,
    fx: 0.5, fy: 0.5,
    radius: 1.0,
    stop: 0.25 #ffaa00,
    stop: 0.3 #323232
);
}

QRadioButton::indicator
{
    border-radius: 6px;
}

QRadioButton::indicator:hover, QCheckBox::indicator:hover
{
    border: 1px solid #ffaa00;
}

/**************CHECKBOX***************/

QCheckBox::indicator:checked
{
    background-color: qradialgradient(
    cx: 0.5, cy: 0.5,
    fx: 0.5, fy: 0.5,
    radius: 1.0,
    stop: 0.25 #ffaa00,
    stop: 0.3 #323232
);

}

QCheckBox:disabled
{
    color: #414141;
}

QCheckBox::indicator
{
    color: #b1b1b1;
    background-color: #323232;
    border: 1px solid #b1b1b1;
    width: 9px;
    height: 9px;
}

QCheckBox::indicator:disabled, QRadioButton::indicator:disabled
{
    border: 1px solid #444;
}

/*********HORIZONTAL SLIDER**************/

QSlider::groove:horizontal {
    border: 1px solid #ffaa00;
    background: #ffaa00;
    height: 6px;
    border-radius: 2px;
}


QSlider::sub-page:horizontal {
    background: qlineargradient(x1: 0, y1: 0,    x2: 0, y2: 1,
    stop: 0 #ffaa00, stop: 1 #ffaa00);
    background:#ffaa00;
    border: 1px solid #777;
    height: 10px;
    border-radius: 2px;
}

QSlider::add-page:horizontal {
    background: rgb(40,40,40);
    border: 1px solid #777;
    height: 10px;
    border-radius: 2px;
}

QSlider::handle:horizontal {
    background: qlineargradient(x1:0, y1:0, x2:1, y2:1,
    stop:0 #eee, stop:1 #ccc);
    border: 1px solid #777;
    width: 5px;
    margin-top: -8px;
    margin-bottom: -8px;
    border-radius: 2px;
}

QSlider::handle:horizontal:hover {
    background: qlineargradient(x1:0, y1:0, x2:1, y2:1,
    stop:0 #fff, stop:1 #ddd);
    border: 1px solid #444;
    border-radius: 2px;
}

QSlider::sub-page:horizontal:disabled {
    background: #bbb;
    border-color: #999;
}

QSlider::add-page:horizontal:disabled {
    background: #eee;
    border-color: #999;
}

QSlider::handle:horizontal:disabled {
    background: #eee;
    border: 1px solid #aaa;
    border-radius: 2px;
}

/*********VERTICAL SLIDER**************/

QSlider::groove:vertical {
    border: 1px solid #ffaa00;
    background: #ffaa00;
    width: 6px;
    border-radius: 2px;
}


QSlider::add-page:vertical {
    background: qlineargradient(x1: 0, y1: 0,    x2: 0, y2: 1,
    stop: 0 #ffaa00, stop: 1 #ffaa00);
    background:#ffaa00;
    border: 1px solid #777;
    width: 10px;
    border-radius: 2px;
}

QSlider::sub-page:vertical {
    background: rgb(40,40,40);
    border: 1px solid #777;
    width: 10px;
    border-radius: 2px;
}

QSlider::handle:vertical {
    background: qlineargradient(x1:0, y1:0, x2:1, y2:1,
    stop:0 #eee, stop:1 #ccc);
    border: 1px solid #777;
    height: 5px;
    margin-left: -8px;
    margin-right: -8px;
    border-radius: 2px;
}

QSlider::handle:vertical:hover {
    background: qlineargradient(x1:0, y1:0, x2:1, y2:1,
    stop:0 #fff, stop:1 #ddd);
    border: 1px solid #444;
    border-radius: 2px;
}

QSlider::add-page:vertical:disabled {
    background: #bbb;
    border-color: #999;
}

QSlider::sub-page:vertical:disabled {
    background: #eee;
    border-color: #999;
}

QSlider::handle:vertical:disabled {
    background: #eee;
    border: 1px solid #aaa;
    border-radius: 2px;
}
/*******************SPINBOX***************/

QSpinBox, QDoubleSpinBox {
    font-size: 12px;
    color: #ccc;
    background-color: QLinearGradient( x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #4d4d4d, stop: 0 #646464, stop: 1 #5d5d5d);;
    border: 1 solid #515151;
    padding-right: 10px;
}
QSpinBox::up-button, QDoubleSpinBox::up-button {
    subcontrol-origin: border;
    subcontrol-position: top right;
    width: 19px;

}
QSpinBox::down-button, QDoubleSpinBox::down-button
{
    subcontrol-origin: border;
    subcontrol-position: bottom right;
    width: 19px;
}

QWidget {
    background-color: #343434;
    color: beige;
}
QWidget#top_bar{
    background-color: #1e1e1e;
}
QWidget#title_lb{
    background-color: #1e1e1e;
    color: gray;
}

QLabel[label1=true]{
    color: gray;
}
QLabel[is_date=true]{
    color: gray;
}